footer {
  border-top: 1px solid #31578A;
  background-color: #D9DDE1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
}

footer h3 {
  margin-bottom: 1.2em;
}

footer span {
  font-weight: bold;
  color: #31578A;
}
