.button-control {
  display: flex;
  gap: 20px;
}

.header-row {
  border-bottom: solid rgb(49, 87, 138);
  background-color: rgba(49, 88, 138, 0.867);
  color: #f2f2f2;
}

.table {
  border: 3px solid  rgb(49, 87, 138);
}

tfoot {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
}

.pagination button {
  background-color: rgba(49, 88, 138, 0.867);
}
