<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="header-row">
        <th scope="col">{{ "id" | titlecase }}</th>
        <th scope="col">{{ "nome" | titlecase }}</th>
        <th scope="col">{{ "categoria" | titlecase }}</th>
        <th scope="col">{{ "quantidade" | titlecase }}</th>
        <th class="col-2" scope="col">{{ "Ações" | titlecase }}</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td scope="row">id</td>
        <td>{{ "nome" | titlecase }}</td>
        <td>{{ "categoria" | titlecase }}</td>
        <td>{{ "quantidade" | titlecase }}</td>
        <td>
          <div class="button-control">
            <app-action-button
              [color]="''"
              [icon]="visualize"
            ></app-action-button>
            <app-action-button
              [color]="'#31578A'"
              [icon]="edit"
            ></app-action-button>
            <app-action-button
              [color]="'#ff4757'"
              [icon]="remove"
            ></app-action-button>
          </div>
        </td>
      </tr>
      <tr>
        <td scope="row">id</td>
        <td>{{ "nome" | titlecase }}</td>
        <td>{{ "categoria" | titlecase }}</td>
        <td>{{ "quantidade" | titlecase }}</td>
        <td>
          <div class="button-control">
            <app-action-button
              [color]="''"
              [icon]="visualize"
            ></app-action-button>
            <app-action-button
              [color]="'#31578A'"
              [icon]="edit"
            ></app-action-button>
            <app-action-button
              [color]="'#ff4757'"
              [icon]="remove"
            ></app-action-button>
          </div>
        </td>
      </tr>
      <tr>
        <td scope="row">id</td>
        <td>{{ "nome" | titlecase }}</td>
        <td>{{ "categoria" | titlecase }}</td>
        <td>{{ "quantidade" | titlecase }}</td>
        <td>
          <div class="button-control">
            <app-action-button
              [color]="''"
              [icon]="visualize"
            ></app-action-button>
            <app-action-button
              [color]="'#31578A'"
              [icon]="edit"
            ></app-action-button>
            <app-action-button
              [color]="'#ff4757'"
              [icon]="remove"
            ></app-action-button>
          </div>
        </td>
      </tr>
      <tr>
        <td scope="row">id</td>
        <td>{{ "nome" | titlecase }}</td>
        <td>{{ "categoria" | titlecase }}</td>
        <td>{{ "quantidade" | titlecase }}</td>
        <td>
          <div class="button-control">
            <app-action-button
              [color]="''"
              [icon]="visualize"
            ></app-action-button>
            <app-action-button
              [color]="'#31578A'"
              [icon]="edit"
            ></app-action-button>
            <app-action-button
              [color]="'#ff4757'"
              [icon]="remove"
            ></app-action-button>
          </div>
        </td>
      </tr>
      <tr>
        <td scope="row">id</td>
        <td>{{ "nome" | titlecase }}</td>
        <td>{{ "categoria" | titlecase }}</td>
        <td>{{ "quantidade" | titlecase }}</td>
        <td>
          <div class="button-control">
            <app-action-button
              [color]="''"
              [icon]="visualize"
            ></app-action-button>
            <app-action-button
              [color]="'#31578A'"
              [icon]="edit"
            ></app-action-button>
            <app-action-button
              [color]="'#ff4757'"
              [icon]="remove"
            ></app-action-button>
          </div>
        </td>
      </tr>
      <tr>
        <td scope="row">id</td>
        <td>{{ "nome" | titlecase }}</td>
        <td>{{ "categoria" | titlecase }}</td>
        <td>{{ "quantidade" | titlecase }}</td>
        <td>
          <div class="button-control">
            <app-action-button
              [color]="''"
              [icon]="visualize"
            ></app-action-button>
            <app-action-button
              [color]="'#31578A'"
              [icon]="edit"
            ></app-action-button>
            <app-action-button
              [color]="'#ff4757'"
              [icon]="remove"
            ></app-action-button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
