* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.validation-error p {
  color: #dc3545;
  margin-top: 0.4em;
  border-left: 3px solid #dc3545;
  padding-left: 0.2em;
}
